BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignEscapedNewlines: Left
AllowShortIfStatementsOnASingleLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
BreakBeforeBraces: Attach
IndentWidth: 4
NamespaceIndentation: All
MacroBlockBegin: "^BOOST_(FIXTURE|AUTO)_TEST_SUITE$"
MacroBlockEnd: "^BOOST_AUTO_TEST_SUITE_END$"
